@model LuisaKatrinaReyes.Ecommerse.Web.ViewModels.Products.ProductSearchViewModel

<h1>Products</h1>

<div>
    <span>Search</span>
    <input type="text" placeholder="keyword" id="keyword" />
</div>

@{
    if (Model.Products != null)
    {
        if (Model.Products.Items != null)
        {
            if (Model.Products.Items.Count > 0)
            {
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>TagLine</td>
                            <td>Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var product in Model.Products.Items)
                            {
                                <tr>
                                    <td>@product.Name</td>
                                    <td>@product.TagLine</td>
                                    <td>@product.Price</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <button id="next">Next</button>
            }
            else
            {
                <span>Your search returned no results.</span>
            }
        }
        else
        {
            <span>Your search returned no results.</span>
        }
    }
    else
    {
        <span>Your search returned no results.</span>
    }
}

@section Scripts{
    <script>
        var pageIndex = @(Model.Products.Items != null ? Model.Products.PageIndex : 1);
        var pageSize = @(Model.Products.Items != null ? Model.Products.PageSize : 10);
        var pageCount = @(Model.Products.Items != null ? Model.Products.PageCount : 0);
        var keyword = "@(Model.Products.Items != null ? Model.Products.Keyword : "")";
        var baseUrl = location.protocol + '//' + location.host + location.pathname;
        var filterStr = "@(!string.IsNullOrEmpty(Model.Products.FilterString) ? Model.Products.FilterString : "")";

    function search() {
        window.location = baseUrl + "?keyword=" + keyword + "&pageSize=" + pageSize + "&pageIndex=" + pageIndex + filterStr;
    }

    $("#keyword").blur(function () {
        keyword = $("#keyword").val();
        if (filterStr) {
            filterStr = "&" + filterStr;
        }
        search();
    });

    $("#keyword").on('keypress', function (e) {
        if (e.which == 13) {
            keyword = $("#keyword").val();
            if (filterStr) {
                filterStr = "&" + filterStr;
            }
            search();
        }
    });

    $("#next").click(function () {
        pageIndex = pageIndex + 1;
        search();
    });

    </script>
}