@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="form-main">
                        <div class="title">
                            <h4>Update product</h4>
                            <h3>Update product information</h3>
                        </div>
                        <form class="form" action="/manage/products/update" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Product Name@*<span>*</span>*@</label>
                                        <input name="Name" type="text" id="name" asp-for="Name" placeholder="Enter product name" value="@Model.Name">
                                    </div>
                                </div>
                                <input type="hidden" name="Id" value="@Model.Id" />
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Tag line</label>
                                        <input type="text" class="form-control" id="tagLine" asp-for="TagLine" name="TagLine" placeholder="Enter product brief description" value="@Model.TagLine">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group message">
                                        <label>Description</label>
                                        <textarea asp-for="Description" class="form-control" id="description" name="Description" placeholder="Enter product full description"> @Model.Description
                                        </textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" class="form-control" id="price" asp-for="Price" name="Price" placeholder="Enter product price" value="@Model.Price.ToString("##.00")">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group button">
                                        <button type="submit" class="btn">Submit</button>
                                        <a href="~/manage/products" class="btn" style="text-decoration:none;color:#ffffff;">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="single-head">
                        <div class="single-info">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
